.homeFirstDiv {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.homeSecondDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.homeThirdDiv {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.productFirstDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1%;
  /* margin-top: 1%; */
  /* background-color: rgb(177, 131, 46); */
  min-height: 600px;
  /* border-radius: 5% 5% 5% 5%; */
  /* box-shadow: rgb(230, 230, 233) 5px 0px 0px 0px; */
}
.productImageDiv {
  text-align: center;
}
.productImage {
  width: 300px;
  height: 300px;
  border-radius: 5% 5% 5% 5%;
  box-shadow: rgba(152, 152, 155, 0.726) 5px 5px 0px 0px;
}
